.header {
  background-color: #FFB8CA;
}

.nav-container {
  height: 60px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #FFB8CA;
}

.logo {
  height: 50px;
  width: 199px;
}

.burger {
  padding: 0px;
  border: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  top: 24px;
  right: 10px;
  background-color: rgba(255, 255, 255, 0.1);
}

@media screen and (max-width: 767px) {
  .section {
    padding: 60px 0;
  }
}
@media screen and (min-width: 768px) {
  .section {
    padding: 60px 0;
  }
}
@media screen and (min-width: 1280px) {
  .section {
    padding: 94px 0;
  }
}

.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
@media screen and (max-width: 767px) {
  .container {
    max-width: 320px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}
@media screen and (min-width: 1280px) {
  .container {
    width: 1200px;
  }
}

.section__title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
}
@media screen and (min-width: 320px) {
  .section__title {
    margin-bottom: 30px;
  }
}
@media screen and (min-width: 768px) {
  .section__title {
    margin-bottom: 30px;
  }
}
@media screen and (min-width: 1280px) {
  .section__title {
    margin-bottom: 50px;
  }
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

body {
  margin: 0px;
  color: var(--title-text-color);
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  line-height: 1.67;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul {
  padding: 0px;
  margin: 0px;
  list-style: none;
}

img {
  display: block;
  height: auto;
}

a {
  text-decoration: none;
}

.hero {
  background-color: #FFB8CA;
}

.container-background {
  height: 100wh;
  padding-top: 127px;
  padding-bottom: 160px;
  background-image: url(../img/slider-pic7.png), url(../img/ellipse.png);
  background-position: 127px 34px, 50px 20px;
  background-repeat: no-repeat;
  background-size: 171px 410px, 300px 344px;
}

.hero-box {
  margin-bottom: 19px;
}

.hero-title {
  font-family: Titan One;
  font-style: normal;
  font-weight: normal;
  font-size: 26px;
  line-height: 30px;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #FFFFFF;
}

.hero-title-red {
  font-family: Titan One;
  font-style: normal;
  font-weight: normal;
  font-size: 48px;
  line-height: 46px;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #D41443;
}

.heder-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.heder-button-one {
  font-family: DM Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 8px;
  line-height: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  color: #FFFFFF;
  width: 64px;
  height: 24px;
  border-radius: 15%/50%;
  background-color: #D41443;
  border: none;
  margin-right: 8px;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.heder-button-two {
  font-family: DM Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 8px;
  line-height: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  color: #D41443;
  width: 82px;
  height: 24px;
  border-radius: 15%/50%;
  background-color: #FFFFFF;
  border: none;
  align-items: center;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.section-ptoducts {
  padding-top: 121px;
  padding-bottom: 98px;
  background: #ffffff;
}

.ptoducts-title {
  font-family: Titan One;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  text-transform: uppercase;
  color: #FFA5BA;
  margin-bottom: 15px;
}

.ptoducts-text {
  font-family: Titan One;
  font-size: 34px;
  line-height: 39px;
  text-align: center;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #D41443;
}

.product-icecream {
  display: block;
  min-height: 635px;
  padding-top: 300px;
  background-image: url(../img/home-pic.png), url(../img/fon-pink.png);
  background-repeat: no-repeat;
  background-position: 50% 31px, 50% 144px;
}

.ice {
  position: relative;
  font-family: Titan One;
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #FFFFFF;
}

.product-dots {
  position: absolute;
  text-align: center;
  top: 50px;
  left: 50%;
  -webkit-transform: translate(-50%, -50%) scale(1);
      -ms-transform: translate(-50%, -50%) scale(1);
          transform: translate(-50%, -50%) scale(1);
}

.card-text {
  width: 100%;
  text-align: center;
  margin-top: 60px;
  padding-left: 60px;
  padding-right: 60px;
  margin-bottom: 30px;
  font-family: DM Sans;
  font-weight: bold;
  font-size: 14px;
  line-height: 152%;
  text-align: center;
  letter-spacing: 0.04em;
  color: #FFFFFF;
}

.arrow-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.arrow {
  width: 40px;
  height: 40px;
}

.product-icecoffee {
  display: block;
  min-height: 635px;
  padding-top: 300px;
  background-image: url(../img/home-pic1.png), url(../img/fon-2.png);
  background-repeat: no-repeat;
  background-position: 50% 31px, 50% 144px;
}

.product-milkshakes {
  display: block;
  min-height: 635px;
  padding-top: 300px;
  background-image: url(../img/home-pic2.png), url(../img/fon-3.png);
  background-repeat: no-repeat;
  background-position: 50% 31px, 50% 144px;
}

.tradition {
  padding-top: 125px;
  padding-bottom: 145px;
  padding-bottom: 97px;
  background-color: #FFF5F6;
}

.tradition-background {
  background-image: url(../img/milk.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: 0px;
}

.tradition-title {
  font-family: Titan One;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  text-transform: uppercase;
  color: #FFA5BA;
  margin-bottom: 15px;
}

.tradition-bold {
  font-family: Titan One;
  font-size: 34px;
  line-height: 39px;
  text-align: center;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #D41443;
}

.tradition-img {
  max-width: 270px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 26px;
  margin-bottom: 46px;
}

.tradition-recept {
  text-align: start;
  max-width: 220px;
  margin-left: auto;
  margin-right: auto;
  font-family: DM Sans;
  font-weight: 500;
  font-size: 12px;
  line-height: 162%;
  color: #000000;
  margin-bottom: 40px;
}

.recepto {
  font-family: DM Sans;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 162%;
  max-width: 220px;
  margin-right: auto;
  margin-left: auto;
  color: #907E82;
  text-align: start;
  margin-bottom: 17px;
}

.tradition-button {
  font-family: DM Sans;
  font-weight: bold;
  font-size: 14px;
  line-height: 18px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #D41443;
  height: 44px;
  width: 176px;
  background: #FFFFFF;
  border-radius: 15%/50%;
  border: 0px;
  margin-left: 30px;
  margin-bottom: 39px;
}

.tradition-item {
  margin-bottom: 36px;
}

.tradition-ingradients {
  margin-bottom: 16px;
}

.tradition-kg {
  font-family: Titan One;
  font-size: 36px;
  line-height: 41px;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #D41443;
  margin-bottom: 16px;
}

.tradition-text {
  font-family: DM Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 170%;
  color: #000000;
  text-align: start;
  margin-bottom: 16px;
}

.feedback {
  padding-bottom: 170px;
}

.feedback-img {
  width: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.img-test {
  margin-top: 80px;
  margin-left: auto;
  margin-right: auto;
}

.feedback-thumb {
  background-image: url(../img/apostrophe.png), url(../img/vector2.png), url(../img/vector3.png), url(../img/vector4.png), url(../img/vector5.png), url(../img/vector6.png), url(../img/vector7.png), url(../img/vector8.png);
  background-repeat: no-repeat;
  background-position: 70px 30px, 60px 70px, 60px 100px, 60px 130px, 60px 162px, 60px 193px, 60px 224px, 60px 255px, 60px 290px;
  margin-top: 29px;
  margin-bottom: 29px;
  background-color: #FAFAFA;
}

.thumb-text {
  padding-top: 43px;
  padding-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
  font-family: DM Sans;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 255%;
  text-align: center;
  color: #000000;
  width: 157px;
}

.emily {
  font-family: DM Sans;
  font-weight: 500;
  font-size: 14px;
  line-height: 186%;
  text-align: center;
  color: #000000;
  position: relative;
  margin-top: 52px;
}

.emily::before {
  content: url(../img/three-dots.svg);
  top: -25px;
  left: 50%;
  width: 30px;
  height: 10px;
  -webkit-transform: translate(-50%, -50%) scale(1);
      -ms-transform: translate(-50%, -50%) scale(1);
          transform: translate(-50%, -50%) scale(1);
  position: absolute;
}

.emily::after {
  position: absolute;
  content: url(../img/hr-dots.svg);
  top: 50px;
  left: 43%;
  -webkit-transform: translate(-50%, -50%) scale(1);
      -ms-transform: translate(-50%, -50%) scale(1);
          transform: translate(-50%, -50%) scale(1);
  width: 30px;
  height: 10px;
}

.footer {
  background: #FFF5F6;
}

.card-item {
  margin-left: auto;
  margin-right: auto;
  padding: 43px 20px;
  width: 220px;
  height: 427px;
  border-radius: 24px;
  background: #FFFFFF;
  -webkit-box-shadow: 0px 8px 30px rgba(212, 20, 67, 0.1);
          box-shadow: 0px 8px 30px rgba(212, 20, 67, 0.1);
  border-radius: 24px;
  margin-bottom: 20px;
  background-image: url(../img/vector2.png), url(../img/vector2.png);
  background-position: 20px 177px, 20px 322px;
  background-size: 180px 3px;
  background-repeat: no-repeat;
}

.card-link {
  display: inline-block;
  padding: 2px 25px;
  background-color: #C2E297;
  border-radius: 4px;
  margin-bottom: 25px;
}

.card-article {
  font-family: DM Sans;
  font-weight: 500;
  font-size: 12px;
  line-height: 186%;
  letter-spacing: 0.04em;
  margin-bottom: 10px;
}

.address-text {
  font-family: DM Sans;
  font-weight: 500;
  font-size: 12px;
  line-height: 18px;
  color: #907E82;
}

.ice-adress {
  margin-bottom: 50px;
}

.schedule {
  margin-bottom: 50px;
}

.schedule-article {
  font-family: DM Sans;
  font-weight: 500;
  font-size: 12px;
  line-height: 186%;
  letter-spacing: 0.04em;
}

.schedule-text {
  font-family: DM Sans;
  font-weight: 500;
  font-size: 12px;
  line-height: 18px;
  color: #907E82;
  margin-bottom: 10px;
}

.schedule-text:last-child {
  margin-bottom: 0px;
}

.address-link {
  font-family: DM Sans;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 18px;
  color: #907E82;
}

.locations-link {
  width: 161.45px;
  height: 44px;
  left: 79px;
  top: 6495px;
  background: #D41342;
  border-radius: 22px;
  width: 115px;
  height: 44px;
  left: 96px;
  top: 6495px;
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 21px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  color: #FFFFFF;
}

.location-item {
  display: block;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 113px;
}

.franchise-link {
  width: 161px;
  height: 44px;
  left: 79px;
  top: 6549px;
  background: #FFFFFF;
  border-radius: 22px;
  width: 80.25px;
  height: 44px;
  left: 111px;
  top: 6549px;
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 21px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  color: #D41443;
}

.homemade {
  width: 232px;
  height: 42px;
  left: 22px;
  top: 6706px;
  font-family: "Titan One";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  text-transform: uppercase;
  color: #FFA5BA;
  margin-bottom: 17px;
}

.with-passion {
  width: 200px;
  height: 76px;
  left: 20px;
  top: 6765px;
  font-family: "Titan One";
  font-style: normal;
  font-weight: 400;
  font-size: 34px;
  line-height: 39px;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #D41443;
  margin-bottom: 43px;
}

.network {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}
.network .network__item {
  margin-right: 28px;
  margin-bottom: 46px;
}
.network__item:last-child {
  margin-right: 0px;
}
.network .network__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  cursor: pointer;
  -webkit-transition-property: background-color;
  -o-transition-property: background-color;
  transition-property: background-color;
  -webkit-transition-duration: 250ms;
       -o-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
       -o-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.network__link:hover, .network__link:focus {
  background-color: var(--accent-color);
}
.network .network__link-style {
  background: rgba(255, 255, 255, 0.1);
}
.network .network__ico {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 32px;
  height: 32px;
}
.network .network__ico_style {
  fill: #AFB1B8;
}
.network__link:hover svg, .network__link:focus svg {
  fill: #FFFFFF;
}

.all-rights {
  width: 150px;
  height: 42px;
  left: 79px;
  top: 7049px;
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 152%;
  /* or 21px */
  text-align: center;
  color: #907E82;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 25px;
}

.footer-phone {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  margin-bottom: 43px;
}

.footer-phoneNumber {
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 186%;
  /* or 22px */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #D41443;
}

.footer-phoneText {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-right: 3px;
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 186%;
  /* or 22px */
  color: #000000;
}

.footer-line {
  width: 100%;
  height: 2px;
  margin-bottom: 22px;
}

.locations-vector {
  fill: black;
}/*# sourceMappingURL=main.css.map */