.footer{
background: #FFF5F6;
}
.card-item-box{
    @media screen and(max-width:767px){
        
            position: absolute;
            top: -84px;
            left: 30px;
    }
        @media screen and(min-width:768px){
            display: flex;
            position: absolute;
            top: -78px;
            
        }
                 @media screen and(min-width:1280px){
                    display: flex;
                        position: absolute;
                        top: -102px;
                 }
}
.card-position-box{
    @media screen and(max-width:767px) {
        height:1240px;
            position: relative;
    }
    
        @media screen and(min-width:768px) {
            height: 466px;
            position: relative;
        }
                 @media screen and(min-width:1280px){
                    height: 470px;
                        position: relative;
                    left: 28px;
                 }
}
.card-item{
    @media screen and(max-width:767px){
            
            padding: 43px 20px;
            width: 220px;
            height: 427px;
            border-radius: 24px;
            background: #FFFFFF;
            box-shadow: 0px 8px 30px rgba(212, 20, 67, 0.1);
            border-radius: 24px;
            
            background-image: url(../img/vector2.png), url(../img/vector2.png);
            background-position: 20px 177px, 20px 322px;
            background-size: 180px 3px;
            background-repeat: no-repeat;
            margin-bottom: 20px;
            
    }
         @media screen and(min-width:768px){
            margin-left: auto;
                margin-right: 20px;
                padding: 43px 20px;
                width: 220px;
                height: 544px;
                border-radius: 24px;
                background: #FFFFFF;
                box-shadow: 0px 8px 30px rgba(212, 20, 67, 0.1);
                border-radius: 24px;
                
                background-image: url(../img/vector2.png), url(../img/vector2.png);
                background-position: 20px 222px, 20px 405px;
                background-size: 180px 3px;
                background-repeat: no-repeat;
         }
                 @media screen and(min-width:1280px) {
                    margin-left: auto;
                        margin-right: 31px;
                        padding: 52px 43px;
                        width: 330px;
                        height: 572px;
                        border-radius: 24px;
                        background: #FFFFFF;
                        box-shadow: 0px 8px 30px rgba(212, 20, 67, 0.1);
                        border-radius: 24px;
                        margin-bottom: 0px;
                        background-image: url(../img/vector2.png), url(../img/vector2.png);
                        background-position: 48px 235px, 48px 430px;
                        background-size: 234px 1px;
                        background-repeat: no-repeat;
                 }
    
}
.card-item:last-child{
    @media screen and(max-width:767px){
        margin-bottom: 0px;
    }
        @media screen and(min-width:768px){
            margin-right: 0px;
        }
                @media screen and(min-width:1280px){
                    margin-right: 0px;
                }
}

.card-link{
   
    @media screen and(max-width:767px) {
        display: inline-block;
        padding: 2px 25px;
        background-color: #C2E297;
        border-radius: 4px;
        margin-bottom: 25px;
        font-family: 'DM Sans';
            font-style: normal;
            font-weight: 500;
            font-size: 12px;
            line-height: 186%;               
            align-items: center;
            text-align: center;
            letter-spacing: 0.04em;
        
            color: #FFFFFF;
        }

    @media screen and(min-width:768px) {
        display: inline-block;
            padding: 2px 25px;
            background-color: #C2E297;
            border-radius: 6px;
            margin-bottom: 25px;
            font-family: 'DM Sans';
                
                font-weight: 500;
                font-size: 16px;
                line-height: 186%;
                
                   text-align: center;
                letter-spacing: 0.04em;
            
                color: #FFFFFF;
    }

    @media screen and(min-width:1280px) {
        display: inline-block;
            padding: 2px 25px;
            background-color: #C2E297;
            border-radius: 6px;
            margin-bottom: 32px;
            font-weight: 500;
                font-size: 16px;
                line-height: 186%;
                text-align: center;
                letter-spacing: 0.04em;
            
                color: #FFFFFF;
    }
}


.card-article{

    @media screen and(max-width:767px){
       
                font-family: 'DM Sans';
                font-weight: 500;
                font-size: 12px;
                line-height: 186%;
                letter-spacing: 0.04em;
                margin-bottom: 10px;
    }
    @media screen and(min-width:768px){
        font-family: 'DM Sans';
            font-style: normal;
            font-weight: 500;
            font-size: 14px;
            line-height: 186%;
            letter-spacing: 0.04em;       
            color: #000000;
            margin-bottom: 14px;
    }
    @media screen and(min-width:1280px){
        font-family: 'DM Sans';
            font-style: normal;
            font-weight: 500;
            font-size: 16px;
            line-height: 186%;
                   
            letter-spacing: 0.04em;
                    color: #000000;
                    margin-bottom: 10px;
    }
}
.address-text{

    @media screen and(max-width:767px) {
        font-family: 'DM Sans';
            font-weight: 500;
            font-size: 12px;
            line-height: 18px;
            color: #907E82;
    }
    
        @media screen and(min-width:768px) {
            font-family: 'DM Sans';
                font-style: normal;
                font-weight: 500;
                font-size: 14px;
                line-height: 166%;
                        
                  color: #907E82;
        }
    
        @media screen and(min-width:1280px) {
            font-family: 'DM Sans';
                font-style: normal;
                font-weight: 500;
                font-size: 16px;
                line-height: 183%;
                            
                letter-spacing: 0.04em;
            
                color: #907E82;
                
        }
}
.ice-adress{
   
    @media screen and(max-width:767px) {
        margin-bottom: 50px;
    }
    
        @media screen and(min-width:768px) {
            margin-bottom: 60px;
        }
    
        @media screen and(min-width:1280px) {
            margin-bottom: 64px;
        }
    
}
.schedule{
    @media screen and(max-width:767px) {
            margin-bottom: 50px;
        }
    
        @media screen and(min-width:768px) {
            margin-bottom: 60px;
        }
    
        @media screen and(min-width:1280px) {
            margin-bottom: 64px;
        }
}
.schedule-article{

    @media screen and(max-width:767px) {
        font-family: DM Sans;
            font-weight: 500;
            font-size: 12px;
            line-height: 186%;
            letter-spacing: 0.04em;
    }
    
        @media screen and(min-width:768px) {
            font-family: DM Sans;
                font-weight: 500;
                font-size: 14px;
                line-height: 186%;
                letter-spacing: 0.04em;
        }
    
        @media screen and(min-width:1280px) {
            font-family: DM Sans;
                font-weight: 500;
                font-size: 16px;
                line-height: 186%;
                letter-spacing: 0.04em;
        }

}
.schedule-text{

    @media screen and(max-width:767px) {
            font-family: DM Sans;
                font-weight: 500;
                font-size: 12px;
                line-height: 18px;
                color: #907E82;
                margin-bottom: 10px;
    }
    
        @media screen and(min-width:768px) {
                font-family: DM Sans;
                    font-weight: 500;
                    font-size: 14px;
                    line-height: 186%;
                    color: #907E82;
                    margin-bottom: 16px;
        }
    
        @media screen and(min-width:1280px) {
            font-family: 'DM Sans';
                font-style: normal;
                font-weight: 500;
                font-size: 16px;
                line-height: 186%;
                        
            
                color: #FFA5BA;
                margin-bottom: 15px;
        }
}
.schedule-text:last-child{
    margin-bottom: 0px;
}

.address-link{

    @media screen and(max-width:767px) {
            font-family: DM Sans;
                font-style: normal;
                font-weight: 500;
                font-size: 12px;
                line-height: 18px;
                color: #907E82;
    }
    
        @media screen and(min-width:768px) {
                font-family: 'DM Sans';
                    font-style: normal;
                    font-weight: 500;
                    font-size: 14px;
                    line-height: 183%;
                    color: #FFA5BA;
        }
    
        @media screen and(min-width:1280px) {
            font-family: 'DM Sans';
                font-style: normal;
                font-weight: 500;
                font-size: 16px;
                line-height: 183%;
                           
                color: #907E82;
        }
}
.location-item {
    
    @media screen and(max-width:767px) {
        display: block;
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-bottom: 113px;
            margin-top: 52px;
    }
    
        @media screen and(min-width:768px) {
            display: block;
                display: flex;
                justify-content: center;
                margin-top: 81px;
                margin-bottom: 113px;
                align-items: center;
                
        }
                 @media screen and(min-width:1280px) {
                    margin-top: 86px;
                    display: block;
                        display: flex;
                        flex-direction: row;
                        align-items: center;
                        margin-bottom: 113px;
                        justify-content: center;
                        
                 }
}
.locations-link{
 
@media screen and(max-width:767px) {
    display: block;
        color: #FFFFFF;
            background: #D41342;
            border-radius: 22px;
            font-family: 'DM Sans';
            font-style: normal;
            font-weight: 700;
            font-size: 16px;
            line-height: 21px;
            padding: 12px 17px;
            margin-bottom: 10px;
}

    @media screen and(min-width:768px) {
            color: #FFFFFF;
                background: #D41342;
                border-radius: 22px;
                font-family: 'DM Sans';
                font-style: normal;
                font-weight: 700;
                font-size: 16px;
                line-height: 186%;
                padding: 12px 17px;
                margin-right: 15px;
    }

    @media screen and(min-width:1280px) {
            color: #FFFFFF;
                background: #D41342;
                border-radius: 22px;
            
                font-family: 'DM Sans';
                font-style: normal;
                font-weight: 700;
                font-size: 16px;
                line-height: 186%;
                padding: 12px 17px;
                margin-bottom: 0px;
                margin-right: 15px;
    }
}

.franchise-link{
    display: block;
    background: #FFFFFF;
    color: #D41443;
   
    border-radius: 22px;
    
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 21px;
        
    padding: 12px 32px;
    @media screen and(max-width:767px) {}
    
        @media screen and(min-width:768px) {}
    
        @media screen and(min-width:1280px) {}
}
.vector-useR{
    width: 4px;
    height: 8px;
    margin-left:13px;
}  

.vector-use{
    width: 4px;
    height: 8px;
    margin-left:13px;
    
}


.homemade{
    width: 232px;
height: 42px;
left: 22px;
top: 6706px;

font-family: 'Titan One';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 21px;
text-transform: uppercase;

color: #FFA5BA;
margin-bottom: 17px;
@media screen and(max-width:767px) {}

    @media screen and(min-width:768px) {}

    @media screen and(min-width:1280px) {
        font-family: 'Titan One';
            font-style: normal;
            font-weight: 400;
            font-size: 30px;
            line-height: 34px;
            letter-spacing: 0.04em;
            text-transform: uppercase;
        
            color: #FFA5BA;
            width: 478px;
            margin-bottom: 15px;
            margin-left: 28px;
    }
}

.with-passion{
   
@media screen and(max-width:767px) {
    width: 200px;
        height: 76px;
        left: 20px;
        top: 6765px;
    
        font-family: 'Titan One';
        font-style: normal;
        font-weight: 400;
        font-size: 34px;
        line-height: 39px;
        letter-spacing: 0.04em;
        text-transform: uppercase;
    
        color: #D41443;
        margin-bottom: 43px;
}

    @media screen and(min-width:768px) {
        width: 200px;
            height: 76px;
            left: 20px;
            top: 6765px;
        
            font-family: 'Titan One';
            font-style: normal;
            font-weight: 400;
            font-size: 34px;
            line-height: 39px;
            letter-spacing: 0.04em;
            text-transform: uppercase;
        
            color: #D41443;
            margin-bottom: 43px;
    }

    @media screen and(min-width:1280px) {
        font-family: 'Titan One';
            font-style: normal;
            font-weight: 400;
            font-size: 58px;
            line-height: 66px;
            letter-spacing: 0.06em;
            text-transform: uppercase;
        
            color: #D41443;
            width: 478px;
            margin-left: 28px;
    }
}

.network{
    display: flex;
    justify-content: flex-end;

    @media screen and(max-width:767px) {
        display: flex;
            justify-content: flex-end;
    }
    
        @media screen and(min-width:768px) {
            display: none;
        }
    
        @media screen and(min-width:1280px){
            display: none;
        }

    .network__item{
        margin-right: 28px;
        margin-bottom: 46px;
    }
    &__item:last-child{
        margin-right: 0px;
    }
    .network__link{
    display: flex;
    align-items: center;
    justify-content: center;        
    width: 44px;
    height: 44px;
    border-radius: 50%;       
    cursor: pointer; 
    transition-property: background-color;
    transition-duration: 250ms;
    transition-timing-function:  cubic-bezier(0.4, 0, 0.2, 1) ;    
    }
    &__link:hover,
    &__link:focus{
    background-color: var(--accent-color);    
    }
    .network__link-style{
    background: rgba(255, 255, 255, 0.1);
    }            
                
    .network__ico{
    display: flex;  
    width: 32px;
    height: 32px;
    }
    .network__ico_style{
    fill:#AFB1B8 ;
    }
    &__link:hover svg,
    &__link:focus svg{
    fill:#FFFFFF ;
    }
}


.network-desktop {
    
    

    @media screen and(max-width:767px) {
      display: none;
    }

    @media screen and(min-width:768px) {
        display: flex;
            justify-content: flex-end;
            
    }

    @media screen and(min-width:1280px) {
        display: flex;
            justify-content: flex-end;
            margin-right: 28px;
    }

    .network__item-desktop {
        margin-right: 28px;
        margin-bottom: 46px;
        @media screen and(max-width:767px) {
                margin-right: 28px;
                    margin-bottom: 46px;
            }
        
            @media screen and(min-width:768px) {
            margin-right: 30px;
                margin-bottom: 46px;
            }
        
            @media screen and(min-width:1280px) {
                margin-right: 24px;
                    margin-bottom: 46px;
            }
    }

    &__item:last-child {
        margin-right: 0px;
    }

    .network__link {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 44px;
        height: 44px;
        border-radius: 50%;
        cursor: pointer;
        transition-property: background-color;
        transition-duration: 250ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    }

    &__link:hover,
    &__link:focus {
        background-color: var(--accent-color);
    }

    .network__link-style {
        background: rgba(255, 255, 255, 0.1);
    }

    .network__ico {
        display: flex;
        width: 32px;
        height: 32px;
    }

    .network__ico_style {
        fill: #AFB1B8;
    }

    &__link:hover svg,
    &__link:focus svg {
        fill: #FFFFFF;
    }
}
.network__item-desktop:last-child{
    margin-right: 0px;
}
.all-rights{
    width: 150px;
    height: 42px;
    left: 79px;
    top: 7049px;
    
    font-family: 'DM Sans';
    font-weight: 700;
    font-size: 14px;
    line-height: 152%;
    
    text-align: center;
    
    color: #907E82;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 60px;
}

.footer-phone{

    @media screen and(max-width:767px) {
        display: flex;
            align-items: center;
            justify-content: end;
            margin-bottom: 43px;
    }
    
        @media screen and(min-width:768px) {
            display: none;
        }
    
        @media screen and(min-width:1280px){
            display: none;
        }
}

.footer-phoneNumber{
    
            @media screen and(max-width:767px) {
                    font-family: 'DM Sans';
                        font-style: normal;
                        font-weight: 700;
                        font-size: 12px;
                        line-height: 186%;
                        /* or 22px */
                        display: flex;
                        color: #D41443;
                }
            
                @media screen and(min-width:768px) {
                    font-family: 'DM Sans';
                        font-style: normal;
                        font-weight: 700;
                        font-size: 14px;
                        line-height: 186%;
                        
                        display: flex;
                        color: #D41443;
                }
            
                @media screen and(min-width:1280px) {
                    font-family: 'DM Sans';
                        font-style: normal;
                        font-weight: 700;
                        font-size: 16px;
                        line-height: 186%;
                        
                        display: flex;
                        color: #D41443;
}
}
.footer-phoneText{
   
  
    @media screen and(max-width:767px) {
        display: flex;
            margin-right: 3px;
            font-family: 'DM Sans';
            font-style: normal;
            font-weight: 700;
            font-size: 12px;
            line-height: 186%;
              
            color: #000000;
    }
    
        @media screen and(min-width:768px) {
            font-family: 'DM Sans';
                font-style: normal;
                font-weight: 700;
                font-size: 14px;
                line-height: 186%;            
                text-align: right;
                color: #000000;
                display: flex;
        }
    
        @media screen and(min-width:1280px) {
            font-family: 'DM Sans';
                font-style: normal;
                font-weight: 700;
                font-size: 16px;
                line-height: 186%;
                           
                letter-spacing: 0.02em;
                margin-right: 28px;
                color: #000000;
            display: flex;
        }
}

.footer-line{
    width: 100%;
    height: 2px;
    margin-bottom: 22px;
}
.footer-box-desktop{
    @media screen and(max-width:767px) {
           
        }
    
        @media screen and(min-width:768px) {
            display: flex;
        }
    
        @media screen and(min-width:1280px) {
           display: flex;
        
        }
}
.footer-network-box{
    margin-left: auto;
}
.footer-phone-desktop{
@media screen and(max-width:767px) {
    display: none;
}

    @media screen and(min-width:768px) {
        display: block;
    }

    @media screen and(min-width:1280px) {
        display: block;

    }
}