.footer{
background: #FFF5F6;
}
.card-item{
    margin-left: auto;
    margin-right: auto;
    padding: 43px 20px;
    width: 220px;
    height: 427px;
    border-radius: 24px;
    background: #FFFFFF;
    box-shadow: 0px 8px 30px rgba(212, 20, 67, 0.1);
    border-radius: 24px;
    margin-bottom: 20px;
    background-image: url(../img/vector2.png), url(../img/vector2.png);
    background-position: 20px 177px, 20px 322px;
    background-size: 180px 3px;
    background-repeat: no-repeat;
    
    
}
.card-link{
    display: inline-block;
    padding: 2px 25px;
    background-color: #C2E297;
    border-radius: 4px;
    margin-bottom: 25px;
  
}


.card-article{
font-family: DM Sans;
font-weight: 500;
font-size: 12px;
line-height: 186%;
letter-spacing: 0.04em;
margin-bottom: 10px;
}
.address-text{
font-family: DM Sans;
font-weight: 500;
font-size: 12px;
line-height: 18px;
color: #907E82;
}
.ice-adress{
    margin-bottom: 50px;
}
.schedule{
    margin-bottom: 50px;
}
.schedule-article{
font-family: DM Sans;
font-weight: 500;
font-size: 12px;
line-height: 186%;
letter-spacing: 0.04em;

}
.schedule-text{
    font-family: DM Sans;
font-weight: 500;
font-size: 12px;
line-height: 18px;
color: #907E82;
margin-bottom: 10px;
}
.schedule-text:last-child{
    margin-bottom: 0px;
}

.address-link{
    font-family: DM Sans;
font-style: normal;
font-weight: 500;
font-size: 12px;
line-height: 18px;
color: #907E82;

}
.locations-link{
    color: #FFFFFF;
     background: #D41342;
  border-radius: 22px;
 
      font-family: 'DM Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 21px;
  display: flex;
  align-items: center;
  text-align: center; 
 padding: 12px 17px;
 margin-bottom: 10px;
}
.location-item{
display: block;
display: flex;
flex-direction: column;
align-items: center;
margin-bottom: 113px;
}
.franchise-link{
    background: #FFFFFF;
    color: #D41443;
   
    border-radius: 22px;
    
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 21px;
    display: flex;
    align-items: center;
    text-align: center;
    padding: 12px 32px;
    
}
.vector-useR{
    width: 4px;
    height: 8px;
    margin-left:13px;
}  

.vector-use{
    width: 4px;
    height: 8px;
    margin-left:8px;
    
}


.homemade{
    width: 232px;
height: 42px;
left: 22px;
top: 6706px;

font-family: 'Titan One';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 21px;
text-transform: uppercase;

color: #FFA5BA;
margin-bottom: 17px;
}

.with-passion{
    width: 200px;
    height: 76px;
    left: 20px;
    top: 6765px;
    
    font-family: 'Titan One';
    font-style: normal;
    font-weight: 400;
    font-size: 34px;
    line-height: 39px;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    
    color: #D41443;
    margin-bottom: 43px;
}

.network{
    display: flex;
    justify-content: flex-end;

    .network__item{
        margin-right: 28px;
        margin-bottom: 46px;
    }
    &__item:last-child{
        margin-right: 0px;
    }
    .network__link{
    display: flex;
    align-items: center;
    justify-content: center;        
    width: 44px;
    height: 44px;
    border-radius: 50%;       
    cursor: pointer; 
    transition-property: background-color;
    transition-duration: 250ms;
    transition-timing-function:  cubic-bezier(0.4, 0, 0.2, 1) ;    
    }
    &__link:hover,
    &__link:focus{
    background-color: var(--accent-color);    
    }
    .network__link-style{
    background: rgba(255, 255, 255, 0.1);
    }            
                
    .network__ico{
    display: flex;  
    width: 32px;
    height: 32px;
    }
    .network__ico_style{
    fill:#AFB1B8 ;
    }
    &__link:hover svg,
    &__link:focus svg{
    fill:#FFFFFF ;
    }
}

.all-rights{
    width: 150px;
    height: 42px;
    left: 79px;
    top: 7049px;
    
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 152%;
    /* or 21px */
    
    text-align: center;
    
    color: #907E82;
   margin-left: auto;
   margin-right: auto;
   margin-bottom: 25px;
}

.footer-phone{
display: flex;
align-items: center;
justify-content: end;
margin-bottom: 43px;

}

.footer-phoneNumber{
    
    
   
    
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 186%;
    /* or 22px */
    display: flex;
            color: #D41443;
}

.footer-phoneText{
   
   display: flex;
    margin-right: 3px;
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 186%;
    /* or 22px */
    
    
    
    color: #000000;
}

.footer-line{
    width: 100%;
    height: 2px;
    margin-bottom: 22px;
}
