.header{


@media screen and(max-width:767px){
  background-color: #FFB8CA;
      
}
  
@media screen and(min-width:768px){
  
  background-image:url(../img/slider-pic7.png) ,  url(../img/ellipse3.png);    
  background-position: 430px 63px, 360px  31px;   
  background-repeat: no-repeat;
   background-size: 171px 410px,324px 322px;
   background-color: #FFB8CA;
} 
@media screen and(min-width:1280px){

}
}
.mobile-container-position{
  position: relative;
}


.nav-container{
  height: 60px;
  
display: flex;
align-items: center;

justify-content: space-between;
}

.logo{
  height: 50px;  
  width: 199px;
  @media screen and(max-width:767px){
    
      
    }
      
    @media screen and(min-width:768px){
    margin-top: 37px;
    } 
    @media screen and(min-width:1280px){
   
    }
}

.header-mob{
  max-width: 480px;
}   

.mobile-container{
 height: 496px;
 width: 230px;
 background-color:#E17992;
 position: absolute;
 right: 0%;
 top: 0%;
 display: none;
 padding: 48px 0px;
 position: fixed;
 z-index: 3;
  transition-property:background-color;
     transition-duration: 250ms ;
     transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.is-open {
display: block;
background: #E17992; 
}

.is-open .icon-menu{
 display: block;
 background: #E17992; 
} 
.is-open .icon-close{
display: block;
background: #E17992; 
}
.icon-close{
display: none; 
background: #E17992; 
}
.is-open .icon-menu{
 display: none;
}


.mobile-menu__button{
position: absolute;
padding: 0px;
border: none;
display: flex;
align-items: center;
top:25px;
right: 10px;
background-color: rgba(255, 255, 255, 0);

z-index: 20;
transition-property:transition;
     transition-duration: 250ms ;
     transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
     @media screen and(max-width:767px){
    
      
    }
      
    @media screen and(min-width:768px){
    top: 45px;
    right: 224px;
    } 
    @media screen and(min-width:1280px){
   
    }
       
}
.icon-menu{
z-index: 20;
}
.mobile-menu{
  @media screen and(max-width:767px){

margin-left: auto;
  }
 
  @media screen and(min-width:768px){


  }
}
.heder-mobile{
@media screen and(max-width:767px){
   display: flex;
   
}
}

.nav__item{
    
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 18px;
  display: flex;
  align-items: center;
  
  color: #FFFFFF;
  transition-property:color;
  transition-duration: 250ms ;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  margin-bottom: 11px;
  margin-top: 11px;
  margin-left: 21px;

}
.nav__link{
  color: #FFFFFF;
}

.buy-now{
  background: #FFFFFF;
  color: #D41443;
  border-radius: 22px;
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 21px;
  display: flex;
  align-items: center;
  text-align: center;
  padding: 12px 32px;
  margin-bottom: 32px;
  margin-right: 21px;
  margin-left: 21px;
  margin-top: 23px;
  justify-content: center;
}
.buy-now-header{
 
  
  @media screen and(max-width:767px){
    display: none;
      
  }
    
  @media screen and(min-width:768px){
    margin-right: 0px;
   margin-top: 38px;
   margin-left: auto;
    background: #FFFFFF;
      color: #D41443;
      border-radius: 22px;
      font-family: 'DM Sans';
      font-style: normal;
      font-weight: 700;
      font-size: 16px;
      line-height: 21px;
      display: flex;
      align-items: center;
      text-align: center;
      padding: 12px 32px;
  } 
  @media screen and(min-width:1280px){
 
  }
}
.mobile-vector{
  width: 4px;
  height: 8px;
  margin-left:16px;
}


.mobile-line{
  width: 100%;
  height: 1px;
  background-color:#E18298 ;
  
}
.nav__link_current{
  text-decoration: none;
 
  color: #D41443;
  
}  

.container-background {



  @media screen and(max-width:767px) {
    height: 100wh;
    padding-top: 127px;
    padding-bottom: 160px;
    background-image: url(../img/slider-pic7.png), url(../img/ellipse.png);
    background-position: 127px 34px, 50px 20px;
    background-repeat: no-repeat;
    background-size: 171px 410px, 300px 344px;


  }

  @media screen and(min-width:768px) {
    height: 100wh;
    padding-top: 127px;
    padding-bottom: 160px;
    background-image: url(../img/slider-pic7.png), url(../img/ellipse3.png);
    background-position: 430px 63px, 360px 31px;
    background-repeat: no-repeat;
    background-size: 171px 410px, 324px 322px;
    background-color: #FFB8CA;
  }

  @media screen and(min-width:1280px) {}
}

.hero-box {
  margin-bottom: 19px;
}

.hero-title {
  font-family: Titan One;
  font-style: normal;
  font-weight: normal;
  font-size: 26px;
  line-height: 30px;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #FFFFFF;

}

.hero-title-red {
  font-family: Titan One;
  font-style: normal;
  font-weight: normal;
  font-size: 48px;
  line-height: 46px;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #D41443;
}

.heder-button {
  display: flex;

}



.heder-button-one {
  font-family: DM Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 8px;
  line-height: 10px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #FFFFFF;
  width: 64px;
  height: 24px;
  border-radius: 15%/50%;
  background-color: #D41443;
  border: none;
  margin-right: 8px;
  display: flex;
  justify-content: center;
}

.heder-button-two {
  font-family: DM Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 8px;
  line-height: 10px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #D41443;
  width: 82px;
  height: 24px;
  border-radius: 15%/50%;
  background-color: #FFFFFF;
  border: none;
  align-items: center;
  display: flex;
  justify-content: center;
}