.header{


@media screen and(max-width:767px){
  background-color: #FFB8CA;
      
}
  
@media screen and(min-width:768px){
  background-color: #FFB8CA;
 
} 

}
.mobile-container-position{
  position: relative;
}


.nav-container{

@media screen and(max-width:767px) {
    height: 60px;
      position: relative;
      display: flex;
      align-items: center;
    
      justify-content: space-between;

  }

  @media screen and(min-width:768px) {
      height: 60px;
        position: relative;
        display: flex;
        align-items: center;
      
        justify-content: space-between;
    
  }

  @media screen and(min-width:1280px) {
      height: 60px;
        position: relative;
        display: flex;
        align-items: center;
      
        justify-content: space-between;
        padding-top: 37px;
  }
}

.logo{
  height: 50px;  
  width: 199px;
  @media screen and(max-width:767px){
    
      
    }
      
    @media screen and(min-width:768px){
    margin-top: 37px;
    } 
    @media screen and(min-width:1280px){
  margin-top: 0px;
    }
}

.header-mob{
  max-width: 480px;
}   

.mobile-container{
 
      @media screen and(max-width:767px){
        height: 527px;
          width: 230px;
          background-color: #E17992;
          position: absolute;
          right: -20px;
          top: 0%;
          display: none;
          padding: 48px 0px;
        
          z-index: 3;
          transition-property: background-color;
          transition-duration: 250ms;
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
      }
             @media screen and(min-width:768px){
              height: 1020px;
                width: 230px;
                background-color: #E17992;
                position: absolute;
                right: -35px;
                top: 0%;
                display: none;
                padding: 48px 0px;
              
                z-index: 3;
                transition-property: background-color;
                transition-duration: 250ms;
                transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
             }
}

.is-open {
display: block;
background: #E17992; 
}

.is-open .icon-menu{
 display: block;
 background: #E17992; 
} 
.is-open .icon-close{
display: block;
background: #E17992; 
}
.icon-close{
display: none; 
background: #E17992; 
}
.is-open .icon-menu{
 display: none;
}


.mobile-menu__button{
position: absolute;
padding: 0px;
border: none;
display: flex;
align-items: center;
top:25px;
right: 0px;
background-color: rgba(255, 255, 255, 0);

z-index: 20;
transition-property:transition;
     transition-duration: 250ms ;
     transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
     @media screen and(max-width:767px){
    
      
    }
      
    @media screen and(min-width:768px){
    top: 45px;
    right: 224px;
    } 
    @media screen and(min-width:1280px){
   display: none;
    }
       
}
.icon-menu{
z-index: 20;
}
.mobile-menu{
  @media screen and(max-width:767px){

margin-left: auto;
  }
 
  @media screen and(min-width:768px){


  }
}
.heder-mobile{
@media screen and(max-width:767px){
   display: flex;
   
}
}
.nav-desktop{
  @media screen and(max-width:767px) {
  display: none;
     
    }
  
    @media screen and(min-width:768px) {
      display: none;
    }
         @media screen and(min-width:1280px){
          display: flex;
          margin-left: 110px;
         }
  }
  
 .nav__item-desktop {

   font-family: 'DM Sans';
   font-style: normal;
   font-weight: 700;
   font-size: 16px;
   line-height: 21px;
   display: flex;
   align-items: center;

   color: #FFFFFF;
   transition-property: color;
   transition-duration: 250ms;
   transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
   
   
   margin-right: 35px;

 }
.nav__item-desktop:last-child{
  margin-right: 0px;
}
.nav__item{
    
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 18px;
  display: flex;
  align-items: center;
  
  color: #FFFFFF;
  transition-property:color;
  transition-duration: 250ms ;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  margin-bottom: 11px;
  margin-top: 11px;
  margin-left: 21px;

}
.nav__link{
  color: #FFFFFF;
}

.buy-now{
  background: #FFFFFF;
  color: #D41443;
  border-radius: 22px;
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 21px;
  display: flex;
  align-items: center;
  text-align: center;
  padding: 12px 32px;
  margin-bottom: 32px;
  margin-right: 21px;
  margin-left: 21px;
  margin-top: 23px;
  justify-content: center;
}
.buy-now-header{
 
  
  @media screen and(max-width:767px){
    display: none;
      
  }
    
  @media screen and(min-width:768px){
    margin-right: 0px;
   margin-top: 38px;
   margin-left: auto;
    background: #FFFFFF;
      color: #D41443;
      border-radius: 22px;
      font-family: 'DM Sans';
      font-style: normal;
      font-weight: 700;
      font-size: 16px;
      line-height: 21px;
      
      
      text-align: center;
      padding: 12px 37px;
  } 
  @media screen and(min-width:1280px){
  margin-right: 69px;
    margin-top: 0px;
  }
}

.mobile-vector{
  width: 4px;
  height: 8px;
  margin-left:13px;
}


.mobile-line{
  width: 100%;
  height: 1px;
  background-color:#E18298 ;
  
}
.nav__link_current{
  text-decoration: none;
 
  color: #D41443;
  
}  

.container-background {



  @media screen and(max-width:767px) {
    
    
    padding-bottom: 158px;
    background-image: url(../img/slider-pic7.png), url(../img/ellipse.png);
    background-position: 127px 117px, 50px 103px;
    background-repeat: no-repeat;
    background-size: 171px 410px, 300px 344px;
    @media screen and (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
        background-image: url(../img/slider-pic7.1@2x.png),
          url(../img/ellipse3@2x.png);
         
      }
            @media screen and (min-device-pixel-ratio: 3),
                        (min-resolution: 192dpi),
                        (min-resolution: 2dppx)
             {
              background-image: url(../img/slider-pic7.1@3x.png),
                url(../img/ellipse3@3x.png);
      
            }

  }

  @media screen and(min-width:768px) {
    height: 100wh;
    
    padding-bottom: 51px;
    background-image:url(../img/Ellipse1T.png),url(../img/Ellipse1T.png),url(../img/slider-pic4T.png), url(../img/slider-pic5.1T.png), url(../img/slider-pic7T.png), url(../img/ellipse3T.png);
    background-position:718px 151px, 718px 94px, 566px 266px, 34px 245px, 378px 63px, 307px 31px;
    background-repeat: no-repeat;
    background-size:16px 16px,16px 16px,168px 133px, 124px 126px, 143px 336px, 324px 322px;
    background-color: #FFB8CA;
    @media screen and (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
        background-image: url(../img/Ellipse1T@2x.png),
          url(../img/Ellipse1T@2x.png),
          url(../img/slider-pic4T@2x.png),
          url(../img/slider-pic5.1T@2x.png),
          url(../img/slider-pic7T@2x.png),
          url(../img/ellipse3T@2x.png);
      }
  }

  @media screen and(min-width:1280px) {
    height: 100wh;
    
      padding-bottom: 83px;
      background-image: url(../img/Ellipse1D.png), url(../img/Ellipse1D.png), url(../img/slider-pic4D.png), url(../img/slider-pic5.1D.png), url(../img/slider-pic7D.png), url(../img/ellipse3D.png);
      background-position: 1070px 155px, 1070px 240px, 832px 433px, 77px 429px, 548px 108px, 429px 52px;
      background-repeat: no-repeat;
      background-size: 30px 30px, 30px 30px, 293px 232px, 188px 191px, 236px 557px, 538px 538px;
      background-color: #FFB8CA;
      @media screen and (min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
          background-image: url(../img/Ellipse1D@2x.png),
            url(../img/Ellipse1D@2x.png),
            url(../img/slider-pic4D@2x.png),
            url(../img/slider-pic5.1D@2x.png),
            url(../img/slider-pic7D@2x.png),
            url(../img/ellipse3D@2x.png);
      
        }
  }
    
}

.hero-box {
  
  @media screen and(max-width:767px){
    margin-bottom: 19px;
  }
    @media screen and(min-width:768px){
      margin-bottom: 19px;
    }
        @media screen and(min-width:1280px){
          margin-bottom: 25px;
          
        }
}

.hero-title {
  @media screen and(max-width:767px){
  font-family: Titan One;
  font-weight: 400;
  font-size: 26px;
  line-height: 30px;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #FFFFFF;
  }
    @media screen and(min-width:768px){
      font-family: Titan One;
        font-weight: 400;
        font-size: 22px;
        line-height: 25px;
        letter-spacing: 0.04em;
        text-transform: uppercase;
        color: #FFFFFF;
    }
        @media screen and(min-width:1280px) {
          font-family: Titan One;
          font-weight: 400;
          font-style: normal;
            font-size: 38px;
            line-height: 44px;
            letter-spacing: 0.04em;
            text-transform: uppercase;
            color: #FFFFFF;
        }
}

.hero-title-red {
  
    @media screen and(max-width:767px) {
    font-family: Titan One;
      
      font-weight: 400;
      font-size: 48px;
      line-height: 46px;
      letter-spacing: 0.04em;
      text-transform: uppercase;
      color: #D41443;
       
      }
    
      @media screen and(min-width:768px) {
        font-family: Titan One;
          font-weight: 400;
          font-size: 40px;
          line-height: 31px;
          letter-spacing: 0.04em;
          text-transform: uppercase;
          color: #D41443;
      }
            @media screen and(min-width:1280px) {
              font-family: Titan One;
              font-weight: 400;
              
                font-size: 58px;
                line-height: 52px;
                letter-spacing: 0.04em;
                text-transform: uppercase;
                color: #D41443;
              
            }
    }
    
    


.heder-button {
  display: flex;

}



.heder-button-one {
  @media screen and(max-width:767px){
    font-family: DM Sans;
      font-weight: 400;
      font-style: normal;
      font-weight: normal;
      font-size: 8px;
      line-height: 10px;
      display: flex;
      align-items: center;
      text-align: center;
      color: #FFFFFF;
      width: 64px;
      height: 24px;
      border-radius: 15%/50%;
      background-color: #D41443;
      border: none;
      margin-right: 8px;
      display: flex;
      justify-content: center;
  }
    @media screen and(min-width:768px){
      font-family: DM Sans;
        font-weight: 400;
        font-style: normal;
        font-weight: normal;
        font-size: 8px;
        line-height: 10px;
        display: flex;
        align-items: center;
        text-align: center;
        color: #FFFFFF;
        width: 64px;
        height: 24px;
        border-radius: 15%/50%;
        background-color: #D41443;
        border: none;
        margin-right: 8px;
        display: flex;
        justify-content: center;
    }
        @media screen and(min-width:1280px){
          font-family: DM Sans;
            font-weight: 400;
            
            font-size: 14px;
            line-height: 18px;
            display: flex;
            align-items: center;
            text-align: center;
            color: #FFFFFF;
            width: 102px;
            height: 40px;
            border-radius: 20%/50%;
            background-color: #D41443;
            border: none;
            margin-right: 15px;
            display: flex;
            justify-content: center;
        }
}

.heder-button-two {
  @media screen and(max-width:767px){
    font-family: DM Sans;
      font-weight: 400;
      font-size: 8px;
      line-height: 10px;
      display: flex;
      align-items: center;
      text-align: center;
      color: #D41443;
      width: 82px;
      height: 24px;
      border-radius: 15%/50%;
      background-color: #FFFFFF;
      border: none;
      align-items: center;
      display: flex;
      justify-content: center;
  }
    @media screen and(min-width:768px){
      font-family: DM Sans;
        font-weight: 400;
        font-size: 8px;
        line-height: 10px;
        display: flex;
        align-items: center;
        text-align: center;
        color: #D41443;
        width: 82px;
        height: 24px;
        border-radius: 15%/50%;
        background-color: #FFFFFF;
        border: none;
        align-items: center;
        display: flex;
        justify-content: center;
    }
@media screen and(min-width:1280px){
  font-family: DM Sans;
  font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #D41443;
    width: 138px;
    height: 40px;
    border-radius: 20%/60%;
    background-color: #FFFFFF;
    border: none;
    align-items: center;
    display: flex;
    justify-content: center;
}
}

.passion-title{
 
  @media screen and(max-width:767px){
    margin-top: 160px;
  }
     @media screen and(min-width:768px){
      margin-top: 25px;
     }
         @media screen and(min-width:1280px){
          margin-top: 94px;
          margin-left: 69px;
         }
}

.header-nambers-box{
  @media screen and(max-width:767px){
    display: none;
  }
    @media screen and(min-width:768px){
      position: absolute;
        right: 6px;
        top: 96px;
        
    }
 @media screen and(min-width:1280px){
  position: absolute;
    right: 69px;
    top: 160px;
 }

}

.milk-box-text{
  @media screen and(max-width:767px){

  }
     @media screen and(min-width:768px){
      font-family: 'DM Sans';
        font-style: normal;
        font-weight: 400;
        font-size: 8px;
        line-height: 150%;
        color: #FFFFFF;
      
        width: 114px;
        height: 48px;
     }
        @media screen and(min-width:1280px){
          font-family: 'DM Sans';
            font-style: normal;
            font-weight: 400;
            font-size: 14px;
            line-height: 140%;
            color: #FFFFFF;
          
            width: 200px;
            height: 78px;
        }

}
.header-milk-box{
  @media screen and(max-width:767px) {
      display: none;
    }
  
    @media screen and(min-width:768px) {
      width: 114px;
        margin-left: 154px;
        margin-top: 66px;
    }
        @media screen and(min-width:1280px){
          width:200px;
            margin-left: 180px;
            margin-top: 112px;
        }
    
}
.arrow-header {
  @media screen and(min-width:768px){
    width: 18px;
      height: 18px;
  }
     @media screen and(min-width:1280px){
      width: 26px;
        height: 26px;
     }
}
.arrow-link-header {
  display: flex;
  justify-content: left;
  margin-top: 7px;
}

.numders-style{
  @media screen and(min-width:768px) {
    font-weight: 400;
      font-size: 28px;
      line-height: 32px;
      letter-spacing: 0.04em;
      text-transform: uppercase;
      font-family: 'Titan One';
      color: #D41443;
      text-align: right;
    }
  
    @media screen and(min-width:1280px) {
      font-weight: 400;
        font-size: 46px;
        line-height: 53px;
        letter-spacing: 0.04em;
        text-transform: uppercase;
        font-family: 'Titan One';
        color: #D41443;
        text-align: right;
    }
  
}

.numders-text-style{
  @media screen and(min-width:768px) {
      font-family: 'DM Sans';
        font-weight: 400;
        font-size: 8px;
        line-height: 10px;
        color: #FFFFFF;
        text-align: right;
    }
  
    @media screen and(min-width:1280px) {
      font-family: 'DM Sans';
        font-weight: 400;
        font-size: 14px;
        line-height: 18px;
        color: #FFFFFF;
        text-align: right;
    }
  
}

.numders-list{
margin-bottom: 14px;
}