html{
    box-sizing: border-box;
}
*,
*::before,
*::after{
    box-sizing: inherit;
}

body{
    margin: 0px;
    color:var(--title-text-color);
    font-family: "Roboto", sans-serif;
    font-size: 14px;
    line-height: 1.67;
 
}


h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul{
    padding: 0px;
    margin: 0px;
    list-style: none;
}

img {
  display: block;
  
  height: auto;
}
a{
  text-decoration: none;
}